@{
    ViewData["Title"] = "Home Page";
    Comic comic = ViewBag.Position;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mb-4 shadow-sm">
            @if (!string.IsNullOrEmpty(comic.Img))
            {
                <img src="@comic.Img" width="100%" height="325" />
            }

            <div class="card-body">
                <p class="card-text">@comic.Alt</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <form action="/Home/Index/" method="get">
            <div class="input-group mb-3">
                <input name="id" id="id" type="text" placeholder="Numero de Comic" aria-label="Numero de Comic">
                <div>
                    <button type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>